.cardContainer {
  background-color: #ffffff;
  font-family: var(--font-ibm-plex-mono), monospace;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -1px 1px rgba(0, 0, 0, 0.03);
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.06));
  opacity: 1;
}

.hoverTooltipContainer {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hoverTooltipText {
  font-family: var(--font-ibm-plex-mono), monospace;
  letter-spacing: 0.1em;
}

.divider {
  border-top: 1px solid #222;
}

.button {
  font-family: var(--font-ibm-plex-mono), monospace;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.appleIcon {
  margin-top: -2px;
}

.githubIcon {
  margin-top: -2px;
}
