@import "tailwindcss";

:root {
  color-scheme: light only;
  --background: #ffffff;
  --foreground: #000000;
  --font-serif: "New York", "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  --font-space-mono: "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-space-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono), monospace;
}
